.page-wrapper {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    min-height: calc(100vh - 60px);
}
nav {
    background: white;
    text-align: center;
    padding: 15px;
}
nav a {
    margin: 0 12px;
    text-decoration: none;
    color: #d16c8f;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}



.form-container {
    background-color: white;
    max-width: 400px;
    width: 100%;
    padding: 40px 30px;
    border-radius: 16px;
    box-shadow: 0 6px 18px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 12px;
    border-radius: 8px;
    border: 1px solid #f4a6c1;
    text-align: center;
}

button {
    width: 50%;
    min-width: 120px;
    padding: 12px 0;
    background-color: #f4a6c1;
    color: white;
    border: none;
    border-radius: 25px;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: #e58ab0;
}

hr {
    margin: 25px 0;
    border: none;
    height: 1px;
    background-color: #f4a6c1;
}